{% extends "layouts/base_layout.html" %}
{% from "govuk_frontend_jinja/templates/components/button/macro.html" import govukButton %}
{% from "components/business_case_table.html" import business_case_table %}

{% block content %}
<h1 class="govuk-heading-l">
  Start or view a business case
</h1>
<p class="govuk-body">Use this service to start a new business case or view an existing one.</p>
<p class="govuk-body">If you want to understand the end-to-end business case process before you start the business case process, or need guidance
  on approvals and who to engage with, visit the
  <a class="govuk-link" href="{{ external_links.business_cases }}" target="_blank"
    rel="noopener noreferrer">Project Delivery Hub</a> (opens in new tab).
</p>
<p class="govuk-body">Select Start now to continue.</p>

{{ govukButton({
  "text": "Start now",
  "href": url("triage:index"),
  "isStartButton": true
}) }}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">
  Find a business case
</h2>
<p class="govuk-body">
  You can use this directory to find other MHCLG business justification cases (BJC) below £2 million.
</p>
{{ business_case_table(business_cases) }}
<p class="govuk-body-s govuk-!-text-align-centre">
  Business cases appear in order of activity, with most recent activity at the top.
</p>
{% endblock %}
{% block extra_js %}
<script src="{{ static('js/sortable-table.js') }}"></script>
{% endblock %}
